.Pagination-Bar{
    height: 50px;
    border-bottom: 2px solid #ff6600;
    margin-bottom: 20px;
}

ul{
    float: right;
    margin-right: 20px;
}

ul>li{
    cursor: pointer;
}

ul>li:hover{
    color: #000000;
}

ul>li , ul>span{
  display: inline;  
  color: #ff6600 ;
  font-weight: bold;
}