.Head{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.SpinnerPosition{
    position: absolute !important;
    left: 50% !important;
    top: 50% !important;
    color: #ff6600 !important;
}