.Light{
    color: gray !important;
    font-size: 12px;
    line-height: 10px;
}

.Bold-Text{
    font-weight: bold;
    color: #4a4a4a;
}

.Bold-Text:hover{
    color: #ff6600;
}

a{
    text-decoration: none;
    color: gray !important;
}

a:hover{
    color: #ff6600 !important;
}